{% extends "boilerplate.html" %}
{% block content %}

<h1>Signup</h1>

<form action = "/welcome" method = "post">
    Username: <input type = "text" name = "Username" value="{{ username }}" /><span class="error"> {{username_error}}</span><br>
    Password: <input type = "password" name = "Password" /><span class="error"> {{password_error}}</span><br>
    Verify Password: <input type = "password" name = "Verify-Password" /><span class="error"> {{password_match_error}}</span><br>
    Email (optional): <input type ="text" name = "Email" value="{{ email }}" /><span class="error"> {{email_error}}</span><br>
    <input type = "submit" value = "Submit" /><br>
</form>

{% endblock %}